.popup {
  background-color: rgba($color-black, .8);
  position: relative;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    width: 80%;
    height: 80vh;
  }
}